<p id="notice"><%= notice %></p>

<h1>All our flats</h1>
<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-3 gap-2 mb-3">
        <div class="card shadow-sm h-100">
          <div class="card-body bg-light">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.address %></p>
            <div class="d-flex gap-3">
              <i class="fa-solid fa-user-group">  <%= flat.number_of_guests %></i>
              <i class="fa-solid fa-euro-sign">  <%= flat.price_per_night %></i>
            </div>
          </div>
        <div class="card-footer bg-white">
          <%= link_to 'Show', flat_path(flat), class: 'text-decoration-none' %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
