<div class="banner" style="background-image: url('https://source.unsplash.com/random/?villa')">
</div>

<div class="container">
  <div class="card bg-light my-3">
    <div class="card-body">
      <h2 class="card-title"><%= @flat.name %></h2>
      <p><%= @flat.address %></p>
    </div>
  </div>

  <div class="card bg-light my-3">
    <div class="card-body">
      <h3 class="card-title">A bit more about this flat</h3>
      <p><%= @flat.description %></p>
    </div>
  </div>

  <div class="card bg-light my-3">
    <div class="card-body">
      <h3 class="card-title">Details</h3>
      <div class="d-flex gap-3">
        <i class="fa-solid fa-user-group">  <%= @flat.number_of_guests %></i>
        <i class="fa-solid fa-euro-sign">  <%= @flat.price_per_night %></i>
      </div>
    </div>
  </div>

  <%= link_to 'Edit', edit_flat_path(@flat) %> |
  <%= link_to 'Back', flats_path %>
</div>
